config/config.php
logs/
vendor/
composer.lock
.DS_Store
.vscode/
.idea/
*.log
*.swp
*.bak
*~
composer.phar
debian/.debhelper/
debian/ispconfig-zabbix-monitoring/

debian/debhelper-build-stamp
debian/ispconfig-zabbix-monitoring.substvars
debian/ispconfig-zabbix-monitoring.postrm.debhelper
/nbproject/private/
