config/config.php
logs/
vendor/
composer.lock
.DS_Store
.vscode/
.idea/
*.log
*.swp
*.bak
*~
composer.phar
debian/.debhelper/
debian/ispconfig-zabbix-monitoring/

debian/debhelper-build-stamp
debian/ispconfig-zabbix-monitoring.substvars
debian/ispconfig-zabbix-monitoring.postrm.debhelper
/nbproject/private/
.build/
/.phpunit.result.cache
.build/php-cs-fixer/.php-cs-fixer.cache
debian/files
.gitignore
nbproject/project.xml
