zabbix_export:
  version: '7.2'
  template_groups:
    - uuid: fd6ec9b2-4bda-4d65-9d8b-6c454aa5d010
      name: 'ISPConfig'
  templates:
    - uuid: aebb4199-8f04-43bf-b257-f3c84b4f2eb4
      template: 'ISPConfig Mail Domains'
      name: 'ISPConfig Mail Domains Monitoring'
      description: |
        Template for monitoring ISPConfig mail domains
        
        This template discovers mail domains from ISPConfig and monitors:
        - Mail domain status (active/inactive)
        - Domain information
        - Number of email accounts
        - Total mailbox quota and usage
        - Catch-all email configuration
        
        Requirements:
        - ISPConfig 3.2+ with SOAP API enabled
        - Zabbix Agent with UserParameter configured
        - PHP 7.4+ with SOAP extension
        - Email module enabled in configuration
        
        Author: ISPConfig Zabbix Monitoring Project
        Version: 1.0.0
      groups:
        - name: 'ISPConfig'
      discovery_rules:
        - uuid: 9f9afe45-23db-4a07-b292-45ac66ae686d
          name: 'ISPConfig Mail Domains Discovery'
          type: ZABBIX_ACTIVE
          key: 'ispconfig.mail_domains.discovery'
          delay: 2h
          lifetime: 14d
          description: 'Discovers all mail domains configured in ISPConfig'
          item_prototypes:
            - uuid: f3bfc2f7-d46c-4505-879f-932a3ef85a5f
              name: 'Domain {#DOMAIN}: Active Status'
              type: ZABBIX_ACTIVE
              key: 'ispconfig.mail_domain.active[{#MAIL_DOMAIN_ID}]'
              delay: 5m
              history: 30d
              trends: 90d
              value_type: UNSIGNED
              description: 'Active status of mail domain {#DOMAIN}'
              tags:
                - tag: Application
                  value: 'ISPConfig Email'
                - tag: Domain
                  value: '{#DOMAIN}'
              
            - uuid: af89ca9e-bb51-4818-abf6-170bbd7db252
              name: 'Domain {#DOMAIN}: Domain Name'
              type: ZABBIX_ACTIVE
              key: 'ispconfig.mail_domain.domain[{#MAIL_DOMAIN_ID}]'
              delay: 1h
              history: 7d
              trends: '0'
              value_type: CHAR
              description: 'Mail domain name'
              tags:
                - tag: Application
                  value: 'ISPConfig Email'
                - tag: Domain
                  value: '{#DOMAIN}'
              
            - uuid: 93b9d713-852b-4aaf-9271-b92a967af0f9
              name: 'Domain {#DOMAIN}: Catch-all Address'
              type: ZABBIX_ACTIVE
              key: 'ispconfig.mail_domain.mail_catchall[{#MAIL_DOMAIN_ID}]'
              delay: 1h
              history: 7d
              trends: '0'
              value_type: CHAR
              description: 'Catch-all email address for domain {#DOMAIN}'
              tags:
                - tag: Application
                  value: 'ISPConfig Email'
              
            - uuid: b0c3598a-cf54-414c-8c24-5e07dd5c3906
              name: 'Domain {#DOMAIN}: Account Count'
              type: ZABBIX_ACTIVE
              key: 'ispconfig.mail_domain.account_count[{#MAIL_DOMAIN_ID}]'
              delay: 30m
              history: 30d
              trends: 90d
              value_type: UNSIGNED
              description: 'Number of email accounts in domain {#DOMAIN}'
              tags:
                - tag: Application
                  value: 'ISPConfig Email'
              
            - uuid: b672338d-4743-449e-92fa-9543d346867f
              name: 'Domain {#DOMAIN}: Total Quota'
              type: ZABBIX_ACTIVE
              key: 'ispconfig.mail_domain.total_quota[{#MAIL_DOMAIN_ID}]'
              delay: 1h
              history: 30d
              trends: 90d
              value_type: UNSIGNED
              units: B
              description: 'Total mailbox quota for domain {#DOMAIN}'
              tags:
                - tag: Application
                  value: 'ISPConfig Email'
              
            - uuid: 53c9ac62-ac35-4f50-8255-904266f194de
              name: 'Domain {#DOMAIN}: Total Usage'
              type: ZABBIX_ACTIVE
              key: 'ispconfig.mail_domain.total_used[{#MAIL_DOMAIN_ID}]'
              delay: 10m
              history: 30d
              trends: 90d
              value_type: UNSIGNED
              units: B
              description: 'Total mailbox usage for domain {#DOMAIN}'
              tags:
                - tag: Application
                  value: 'ISPConfig Email'
          
          trigger_prototypes:
            - uuid: 3f5cadc6-4778-48cb-8d74-d45344762bc3
              expression: 'last(/ISPConfig Mail Domains/ispconfig.mail_domain.active[{#MAIL_DOMAIN_ID}])=0'
              name: 'Mail domain {#DOMAIN} is inactive'
              priority: WARNING
              description: 'Mail domain {#DOMAIN} has been marked as inactive in ISPConfig'
              tags:
                - tag: Domain
                  value: '{#DOMAIN}'
              
            - uuid: 24f6648a-3b9a-4ac4-9d44-6361b9926bbb
              expression: 'last(/ISPConfig Mail Domains/ispconfig.mail_domain.account_count[{#MAIL_DOMAIN_ID}])=0'
              name: 'Mail domain {#DOMAIN} has no email accounts'
              priority: INFO
              description: 'Mail domain {#DOMAIN} does not have any email accounts configured'
              manual_close: 'YES'
              tags:
                - tag: Domain
                  value: '{#DOMAIN}'
          
          graph_prototypes:
            - uuid: 05c941e3-1b3d-45e0-9bb1-a746302cb191
              name: 'Domain {#DOMAIN}: Mailbox Usage'
              width: '900'
              height: '200'
              show_work_period: 'NO'
              show_triggers: 'YES'
              type: STACKED
              graph_items:
                - color: 1A7C11
      
      macros:
        - macro: '{$ISPCONFIG.MAIL_DOMAIN.WARN}'
          value: '90'
          description: 'Mail domain usage warning threshold (percentage)'
